<h1>Homepage#show_home</h1>
<p>Find me in app/views/homepage/show_home.html.erb</p>
<span>pass in a test value, should appear here:  <%= @foobar %></span>
<h2> TODOs </h2>
<ol>
  <li> Figure out how to show what user is logged in 
  <p> the logged in user id is  <%= @user_shown %>
  </li>
     
  <li> Spit back to login if there is no user logged in </li>
</ol>
