// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* the standard colors used for 'yellow', 'blue' and 'purple' have been 
   swapped for some with better contrast for black text */ 
.red { background-color: red; }

.yellow { background-color: gold; }

.purple { background-color: mediumorchid; }

.blue { background-color: skyblue; }

.green { background-color: green; }

span.app-name { font-weight: bold;
                color: black;
               }

table, tbody, tfoot, tr, td { display: block; } 

table { max-width: 80%; }
   
tr { margin: 1em;
     padding: 1em;
     display: inline-block;
     border-radius: 8px;
   }

.sort-placeholder {
    height: 1.5em; width:  1.5em;
 }
